HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignorar carpetas de compilación de Maven y Gradle
target/
build/
bin/
out/

# Ignorar archivos compilados sueltos
*.class

# Ignorar configuraciones locales de VS Code y el sistema
.settings/
.classpath
.project
.factorypath
.vscode/
.DS_Store
Thumbs.db
